.avatar {
	padding: 20px;
    justify-content: space-between;
    display: inline-flex;
    align-items: center;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 20%);
    border-radius: 6px;
    margin: 10px;
}

.avatar img {
	padding: 0px;
	width: 120px;
	border-radius: 50%;
	border: 1px solid black;
}

.avatar p {
	margin: 15px;
}

.avatar a {
	margin-right: 10px;
}
